<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/199cb6dc3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Con una Pisca de Sal</title>
</head>
<body>
    <header class="main-header"> 
        <div class="main-logo">
            <img class="logo" src="images/LOGO_CUPSC.png" alt="Logo2">
            <div class="logo-title1">CON UNA<span class="logo-title2"> PIZCA DE SAL</span></div>
            <div class="nav-iconos">
                <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>   
            </div>
            <a href="#" class="burger-button"><i class="fas fa-bars"></i></a>
        </div>
        <nav class="main-nav">        
            <ul class="navbar">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Pedir Online</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <footer class="footer">
        <div class="footer-nav">Navegaciones
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Pedir Online</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>   
        </div>
        <div class="footer-pay
        "> Medio de Pagos
        </div>
        <div class="footer-info"> Contactos
            <h5>telefono</h5>
            <h5>mail</h5>
            <h5>Hasta donde llegamos</h5>
        </div>
    </footer>
</body>
</html>